.title_info{
    font-size: 12px;
    display: flex;
    color:#EADCDC;
    justify-content: space-between;
    margin-top: -30px;
}
.title h1{
    color: #EADCDC;
    font-weight: bolder;
    font-size: 2.2em;
    align-self: center;
}