.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    background: #EADCDC;
    padding: 10px 0;
    flex-wrap: nowrap;
    max-height:200px;
}
.taskText{
    cursor: pointer;
    user-select: none;
    margin-left: 10px;
    width: 75%;
    
}

.done{
    text-decoration: line-through!important;
}
.important{
    font-weight: bolder;
    color: rgb(63, 63, 63);
    background-color: #5CC794;
}

.imp{
    border: 2px solid rgb(58, 126, 93)!important;
    background-color: darkslategray!important;
}

.task-buttons{
    margin-right: 10px;
}
.task-button{
   position: relative;
    cursor: pointer;
    background: none;
    margin-right: 5px;
    border-radius: 10px;
    border: 2px solid rgba(150, 150, 150,.3);
    width: 40px;
    height: 40px;
}

.fa-exclamation,
.fa-pen,
.fa-trash,
.fa-check{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.fa-pen{
    color: rgb(143, 143, 143);
    font-size: 1.5em;
    margin-right: -10px;
}
.fa-exclamation{
    color: #5CC794;
    font-size: 1.5em;
    margin-right: -10px;
}
.fa-trash{
    color: #E17076;
    font-size: 1.5em;
}
