.container{
    position: relative;
    width: 700px;
    margin: 0 auto;
    background-color: #19191986;
    padding: 30px 30px 60px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

ul{
    padding: 0;
}
#todoList{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.header{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}